# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# System
.DS_Store
Thumbs.db


*.ini
.env
.venv
__pycache__/
*.pyc